@model PrisonApplication.Models.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>

<body>

    <h2>Register</h2>
    <div class="row">
        <div class="col-md-8">
            <h4>Add a new worker</h4>
        </div>
    </div>

    <hr />

    <div class="row">

        <section id="registerForm">
            @*@using (Html.BeginForm("Register", "Uzytkownicy", FormMethod.Post))*@
            @using (Html.BeginForm("Register", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()


                @Html.HiddenFor(model => model.Id)


                <div class="form-group">
                    @Html.LabelFor(m => m.Email, "E-mail", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.UserName, "Username", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.Name, "Name", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.Surname, "Surname", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Surname, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                    </div>
                </div>

                


                <div class="form-group">
                    @Html.LabelFor(m => m.Password, "Password", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, "Confirm password", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.Label("Role", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.Role, ViewBag.list as SelectList, "Select...", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Register" />
                    </div>
                </div>
            }
        </section>
    </div>


</body>
</html>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.maskedinput.js"></script>

<script type="text/javascript">
    jQuery(function($) {
        $.mask.definitions['~'] = '[01]';
        $.mask.definitions['!'] = '[MK]';
        $.mask.definitions['='] = '[012]';
        $('#date').mask('9999-~9-99', { placeholder: "____-__-__" });
        $('#gend').mask('!', { placeholder: "_" });
        $('#czas').mask('=9:99:99', { placeholder: "__:__:__" });
    });
</script>