@model IEnumerable<PrisonApp.Models.ViewModels.HistoriaViewModel.HistoriaZmianPrzydzialowViewModel>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>WyswietlHistoriePrzydzialow</title>
</head>
<body>

<h2>Historia</h2>
<div class="row">
    <div class="col-md-8">
        <h4>Historia przydziałów wszystkich więźniów.</h4>
    </div>
</div>
<br/>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idWieznia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idCeli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pracownik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idWieznia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idCeli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pracownik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>

        </tr>
    }

</table>
</body>
</html>