@model PrisonApp.Models.ViewModels.EdytujUzytkownikaViewModel

<!DOCTYPE html>


<head>
    <meta name="viewport" content="width=device-width"/>
    <title>EdytujUzytkownika</title>
</head>

<html>
<body>


<h2>Edytuj użytkownika</h2>
<div class="row">
    <div class="col-md-8">
        <h4>Zmień dane istniejącego użytkownika.</h4>
    </div>
</div>

<div class="form-horizontal">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <div class="row">

            <hr/>
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            <div class="form-group">
                @Html.LabelFor(model => model.Email, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
                </div>
            </div>


            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.UserName, "Nazwa użytkownika", new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.UserName, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.UserName, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Name, "Imie", new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Name, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Surname, "Nazwisko", new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Surname, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.Surname, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Pesel, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Pesel, new {@class = "form-control", id = "pes"})

                    @Html.ValidationMessageFor(model => model.Pesel, "", new {@class = "text-danger"})
                </div>
            </div>

            <br/>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Zatwierdź" class="btn btn-default"/>
                </div>
            </div>
        </div>
    }

</div>

</body>


</html>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.maskedinput.js"></script>

<script type="text/javascript">
    jQuery(function($) {
        $.mask.definitions['~'] = '[01]';
        $.mask.definitions['!'] = '[MK]';
        $.mask.definitions['='] = '[012]';
        $('#date').mask('9999-~9-99', { placeholder: "____-__-__" });
        $('#gend').mask('!', { placeholder: "_" });
        $('#pes').mask('99999999999', { placeholder: "___________" });
        $('#czas').mask('=9:99:99', { placeholder: "__:__:__" });
    });
</script>